src/slates/slate-schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

    <!-- =========================================================
         Common props (available on all components)
         ========================================================= -->
    <xs:attributeGroup name="commonProps">
        <xs:attribute name="id" type="xs:string" use="required"/>
        <xs:attribute name="className" type="xs:string" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="callbackId" type="xs:string" use="optional"/>
    </xs:attributeGroup>

    <!-- =========================================================
         Group of all block elements (for nesting in layout elements)
         ========================================================= -->
    <xs:group name="blockElements">
        <xs:choice>
            <xs:element ref="Accordion"/>
            <xs:element ref="Alert"/>
            <xs:element ref="Button"/>
            <xs:element ref="CallToAction"/>
            <xs:element ref="Card"/>
            <xs:element ref="Card.Header"/>
            <xs:element ref="Card.Content"/>
            <xs:element ref="Card.Footer"/>
            <xs:element ref="Container"/>
            <xs:element ref="Divider"/>
            <xs:element ref="Form"/>
            <xs:element ref="Icon"/>
            <xs:element ref="Iframe"/>
            <xs:element ref="Image"/>
            <xs:element ref="Input"/>
            <xs:element ref="Link"/>
            <xs:element ref="Markdown"/>
            <xs:element ref="RichText"/>
            <xs:element ref="Select"/>
            <xs:element ref="Text"/>
            <xs:element ref="Textarea"/>
            <xs:element ref="Toggle"/>
        </xs:choice>
    </xs:group>

    <!-- =========================================================
         Root element (optional, but useful)
         ========================================================= -->
    <xs:element name="Slate">
        <xs:complexType>
            <xs:sequence>
                <xs:group ref="blockElements" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attributeGroup ref="commonProps"/>
        </xs:complexType>
        <!-- Ensure all id attributes are unique across the entire Slate -->
        <xs:unique name="uniqueBlockId">
            <xs:selector xpath=".//*"/>
            <xs:field xpath="@id"/>
        </xs:unique>
    </xs:element>

    <!-- =========================================================
         Accordion
         ========================================================= -->
    <xs:element name="Accordion">
        <xs:complexType>
            <xs:sequence>
                <!-- items array: <Item title="" description="" defaultOpen="true"/> -->
                <xs:element name="Item" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:attribute name="title" type="xs:string" use="optional"/>
                        <xs:attribute name="description" type="xs:string" use="optional"/>
                        <xs:attribute name="defaultOpen" type="xs:boolean" use="optional"/>
                        <xs:attributeGroup ref="commonProps"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="title" type="xs:string" use="optional"/>
            <xs:attributeGroup ref="commonProps"/>
        </xs:complexType>
    </xs:element>

    <!-- =========================================================
         Alert
         ========================================================= -->
    <xs:element name="Alert">
        <xs:complexType>
            <xs:attribute name="status" use="optional">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="error"/>
                        <xs:enumeration value="warning"/>
                        <xs:enumeration value="success"/>
                        <xs:enumeration value="info"/>
                        <xs:enumeration value="neutral"/>
                        <xs:enumeration value="primary"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="align" use="optional">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="leading"/>
                        <xs:enumeration value="center"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="title" type="xs:string" use="optional"/>
            <xs:attributeGroup ref="commonProps"/>
        </xs:complexType>
    </xs:element>

    <!-- =========================================================
         Button
         ========================================================= -->
    <xs:element name="Button">
        <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="1">
                <!-- Optional nested text content -->
                <xs:element ref="Text" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="variant" use="optional">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="primary"/>
                        <xs:enumeration value="secondary"/>
                        <xs:enumeration value="outline"/>
                        <xs:enumeration value="danger"/>
                        <xs:enumeration value="basic"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="size" use="optional">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="xs"/>
                        <xs:enumeration value="sm"/>
                        <xs:enumeration value="md"/>
                        <xs:enumeration value="lg"/>
                        <xs:enumeration value="xl"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="fullWidth" type="xs:boolean" use="optional"/>
            <xs:attribute name="rounded" type="xs:boolean" use="optional"/>
            <xs:attribute name="disabled" type="xs:boolean" use="optional"/>
            <xs:attribute name="loading" type="xs:boolean" use="optional"/>
            <xs:attribute name="autoDisabled" type="xs:boolean" use="optional"/>
            <xs:attribute name="autoLoading" type="xs:boolean" use="optional"/>
            <xs:attribute name="text" type="xs:string" use="optional"/>
            <xs:attribute name="leadingIcon" type="xs:string" use="optional"/>
            <xs:attribute name="trailingIcon" type="xs:string" use="optional"/>
            <xs:attributeGroup ref="commonProps"/>
        </xs:complexType>
    </xs:element>

    <!-- =========================================================
         CallToAction
         ========================================================= -->
    <xs:element name="CallToAction">
        <xs:complexType>
            <xs:sequence>
                <!-- action array: <Action .../> -->
                <xs:element name="Action" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:attribute name="type" use="optional">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="button"/>
                                    <xs:enumeration value="link"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="text" type="xs:string" use="optional"/>
                        <xs:attribute name="href" type="xs:string" use="optional"/>
                        <xs:attribute name="openInNewWindow" type="xs:boolean" use="optional"/>
                        <xs:attributeGroup ref="commonProps"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="alignment" use="optional">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="left"/>
                        <xs:enumeration value="center"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="title" type="xs:string" use="optional"/>
            <xs:attribute name="image" type="xs:string" use="optional"/>
            <xs:attribute name="description" type="xs:boolean" use="optional"/>
            <xs:attributeGroup ref="commonProps"/>
        </xs:complexType>
    </xs:element>

    <!-- =========================================================
         Card + Card.Header / Card.Content / Card.Footer
         ========================================================= -->
    <xs:element name="Card">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Card.Header" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="Card.Content" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="Card.Footer" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
            <xs:attribute name="alignment" use="optional">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="left"/>
                        <xs:enumeration value="center"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="padding" use="optional">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="xs"/>
                        <xs:enumeration value="sm"/>
                        <xs:enumeration value="md"/>
                        <xs:enumeration value="lg"/>
                        <xs:enumeration value="xl"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="attached" use="optional">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="top"/>
                        <xs:enumeration value="bottom"/>
                        <xs:enumeration value="left"/>
                        <xs:enumeration value="right"/>
                        <xs:enumeration value="all"/>
                        <xs:enumeration value="none"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attributeGroup ref="commonProps"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="Card.Header">
        <xs:complexType>
            <xs:sequence minOccurs="0">
                <!-- Could contain nested blocks, if desired -->
                <xs:group ref="blockElements" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="title" type="xs:string" use="optional"/>
            <xs:attribute name="description" type="xs:string" use="optional"/>
            <xs:attribute name="size" use="optional">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="sm"/>
                        <xs:enumeration value="md"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="withBorder" type="xs:boolean" use="optional"/>
            <xs:attributeGroup ref="commonProps"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="Card.Content">
        <xs:complexType>
            <xs:sequence>
                <!-- Layout element, must have children -->
                <xs:group ref="blockElements" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attributeGroup ref="commonProps"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="Card.Footer">
        <xs:complexType>
            <xs:sequence minOccurs="0">
                <!-- Optional children -->
                <xs:group ref="blockElements" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="withBorder" type="xs:boolean" use="optional"/>
            <xs:attributeGroup ref="commonProps"/>
        </xs:complexType>
    </xs:element>

    <!-- =========================================================
         Container
         ========================================================= -->
    <xs:element name="Container">
        <xs:complexType>
            <xs:sequence>
                <xs:group ref="blockElements" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="size" use="optional">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="xs"/>
                        <xs:enumeration value="sm"/>
                        <xs:enumeration value="md"/>
                        <xs:enumeration value="lg"/>
                        <xs:enumeration value="xl"/>
                        <xs:enumeration value="full"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="padding" use="optional">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="xs"/>
                        <xs:enumeration value="sm"/>
                        <xs:enumeration value="md"/>
                        <xs:enumeration value="lg"/>
                        <xs:enumeration value="xl"/>
                        <xs:enumeration value="full"/>
                        <xs:enumeration value="none"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="direction" use="optional">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="vertical"/>
                        <xs:enumeration value="horizontal"/>
                        <xs:enumeration value="vertical-reverse"/>
                        <xs:enumeration value="horizontal-reverse"/>
                        <xs:enumeration value="grid"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attributeGroup ref="commonProps"/>
        </xs:complexType>
    </xs:element>

    <!-- =========================================================
         Divider
         ========================================================= -->
    <xs:element name="Divider">
        <xs:complexType>
            <xs:attribute name="padding" use="optional">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="xs"/>
                        <xs:enumeration value="sm"/>
                        <xs:enumeration value="md"/>
                        <xs:enumeration value="lg"/>
                        <xs:enumeration value="none"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="position" use="optional">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="center"/>
                        <xs:enumeration value="trailing"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attributeGroup ref="commonProps"/>
        </xs:complexType>
    </xs:element>

    <!-- =========================================================
         Form
         ========================================================= -->
    <xs:element name="Form">
        <xs:complexType>
            <xs:sequence>
                <!-- Form fields as children -->
                <xs:group ref="blockElements" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="defaultValues" type="xs:string" use="optional"/>
            <!-- callbackId is in commonProps -->
            <xs:attributeGroup ref="commonProps"/>
        </xs:complexType>
    </xs:element>

    <!-- =========================================================
         Icon
         ========================================================= -->
    <xs:element name="Icon">
        <xs:complexType>
            <xs:attribute name="name" use="optional">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="refresh-cw-hr"/>
                        <xs:enumeration value="check-circle"/>
                        <xs:enumeration value="alert-triangle"/>
                        <xs:enumeration value="switch-horizontal"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="size" use="optional">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="xs"/>
                        <xs:enumeration value="sm"/>
                        <xs:enumeration value="md"/>
                        <xs:enumeration value="lg"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="iconType" use="optional">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="solid"/>
                        <xs:enumeration value="outline"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="color" use="optional">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="default"/>
                        <xs:enumeration value="primary"/>
                        <xs:enumeration value="positive"/>
                        <xs:enumeration value="negative"/>
                        <xs:enumeration value="attention"/>
                        <xs:enumeration value="highlight"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attributeGroup ref="commonProps"/>
        </xs:complexType>
    </xs:element>

    <!-- =========================================================
         Iframe
         ========================================================= -->
    <xs:element name="Iframe">
        <xs:complexType>
            <xs:attribute name="src" type="xs:string" use="optional"/>
            <xs:attribute name="height" type="xs:int" use="optional"/>
            <xs:attribute name="title" type="xs:string" use="optional"/>
            <xs:attribute name="hidden" type="xs:boolean" use="optional"/>
            <xs:attributeGroup ref="commonProps"/>
        </xs:complexType>
    </xs:element>

    <!-- =========================================================
         Image
         ========================================================= -->
    <xs:element name="Image">
        <xs:complexType>
            <xs:attribute name="url" type="xs:string" use="optional"/>
            <xs:attribute name="size" use="optional">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="xxs"/>
                        <xs:enumeration value="xs"/>
                        <xs:enumeration value="sm"/>
                        <xs:enumeration value="md"/>
                        <xs:enumeration value="lg"/>
                        <xs:enumeration value="xl"/>
                        <xs:enumeration value="2xl"/>
                        <xs:enumeration value="3xl"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="shape" use="optional">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="circle"/>
                        <xs:enumeration value="square"/>
                        <xs:enumeration value="rounded"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attributeGroup ref="commonProps"/>
        </xs:complexType>
    </xs:element>

    <!-- =========================================================
         Input
         ========================================================= -->
    <xs:element name="Input">
        <xs:complexType>
            <xs:attribute name="readOnly" type="xs:boolean" use="optional"/>
            <xs:attribute name="hideValue" type="xs:boolean" use="optional"/>
            <xs:attribute name="value" type="xs:string" use="optional"/>
            <xs:attribute name="copy" type="xs:boolean" use="optional"/>
            <xs:attribute name="required" type="xs:boolean" use="optional"/>
            <xs:attribute name="invalid" type="xs:boolean" use="optional"/>
            <xs:attribute name="hidden" type="xs:boolean" use="optional"/>
            <xs:attribute name="label" type="xs:string" use="optional"/>
            <xs:attribute name="placeholder" type="xs:string" use="optional"/>
            <xs:attribute name="helperText" type="xs:string" use="optional"/>
            <xs:attribute name="error" type="xs:string" use="optional"/>
            <xs:attribute name="leadingIcon" type="xs:string" use="optional"/>
            <xs:attributeGroup ref="commonProps"/>
        </xs:complexType>
    </xs:element>

    <!-- =========================================================
         Link
         ========================================================= -->
    <xs:element name="Link">
        <xs:complexType>
            <xs:sequence minOccurs="0">
                <!-- Optional text child -->
                <xs:element ref="Text" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="href" type="xs:string" use="optional"/>
            <xs:attribute name="external" type="xs:boolean" use="optional"/>
            <xs:attribute name="variant" use="optional">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="inherit"/>
                        <xs:enumeration value="neutral"/>
                        <xs:enumeration value="primary"/>
                        <xs:enumeration value="accent"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attributeGroup ref="commonProps"/>
        </xs:complexType>
    </xs:element>

    <!-- =========================================================
         Markdown
         ========================================================= -->
    <xs:element name="Markdown">
        <xs:complexType>
            <xs:attribute name="text" type="xs:string" use="optional"/>
            <xs:attributeGroup ref="commonProps"/>
        </xs:complexType>
    </xs:element>

    <!-- =========================================================
         RichText
         ========================================================= -->
    <xs:element name="RichText">
        <xs:complexType>
            <xs:attribute name="content" type="xs:string" use="optional"/>
            <xs:attribute name="hidden" type="xs:boolean" use="optional"/>
            <!-- union of the documented values -->
            <xs:attribute name="textColor" use="optional">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="dark"/>
                        <xs:enumeration value="light"/>
                        <xs:enumeration value="none"/>
                        <xs:enumeration value="card"/>
                        <xs:enumeration value="card-with-padding"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="backgroundColor" type="xs:string" use="optional"/>
            <xs:attributeGroup ref="commonProps"/>
        </xs:complexType>
    </xs:element>

    <!-- =========================================================
         Select
         ========================================================= -->
    <xs:element name="Select">
        <xs:complexType>
            <xs:attribute name="isSearchable" type="xs:boolean" use="optional"/>
            <xs:attribute name="dataCallbackId" type="xs:string" use="optional"/>
            <xs:attribute name="hideClearIcon" type="xs:boolean" use="optional"/>
            <xs:attribute name="avatarRounded" use="optional">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="none"/>
                        <xs:enumeration value="sm"/>
                        <xs:enumeration value="md"/>
                        <xs:enumeration value="full"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="avatarSize" use="optional">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="xxs"/>
                        <xs:enumeration value="xs"/>
                        <xs:enumeration value="sm"/>
                        <xs:enumeration value="md"/>
                        <xs:enumeration value="lg"/>
                        <xs:enumeration value="xl"/>
                        <xs:enumeration value="2xl"/>
                        <xs:enumeration value="3xl"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <!-- callbackId/name via commonProps -->
            <xs:attributeGroup ref="commonProps"/>
        </xs:complexType>
    </xs:element>

    <!-- =========================================================
         Text
         ========================================================= -->
    <xs:element name="Text">
        <xs:complexType>
            <xs:attribute name="value" type="xs:string" use="optional"/>
            <xs:attribute name="align" use="optional">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="leading"/>
                        <xs:enumeration value="center"/>
                        <xs:enumeration value="trailing"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="size" use="optional">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="xs"/>
                        <xs:enumeration value="sm"/>
                        <xs:enumeration value="md"/>
                        <xs:enumeration value="lg"/>
                        <xs:enumeration value="xl"/>
                        <xs:enumeration value="2xl"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="truncate" type="xs:boolean" use="optional"/>
            <xs:attribute name="format" use="optional">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="plain"/>
                        <xs:enumeration value="markdown"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attributeGroup ref="commonProps"/>
        </xs:complexType>
    </xs:element>

    <!-- =========================================================
         Textarea
         ========================================================= -->
    <xs:element name="Textarea">
        <xs:complexType>
            <xs:attribute name="value" type="xs:string" use="optional"/>
            <xs:attribute name="required" type="xs:boolean" use="optional"/>
            <xs:attribute name="invalid" type="xs:boolean" use="optional"/>
            <xs:attribute name="label" type="xs:string" use="optional"/>
            <xs:attribute name="placeholder" type="xs:string" use="optional"/>
            <xs:attribute name="helperText" type="xs:string" use="optional"/>
            <xs:attribute name="hidden" type="xs:boolean" use="optional"/>
            <xs:attributeGroup ref="commonProps"/>
        </xs:complexType>
    </xs:element>

    <!-- =========================================================
         Toggle
         ========================================================= -->
    <xs:element name="Toggle">
        <xs:complexType>
            <xs:attribute name="title" type="xs:string" use="optional"/>
            <xs:attribute name="description" type="xs:string" use="optional"/>
            <xs:attribute name="checked" type="xs:boolean" use="optional"/>
            <xs:attribute name="size" use="optional">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="sm"/>
                        <xs:enumeration value="md"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="required" type="xs:boolean" use="optional"/>
            <xs:attribute name="invalid" type="xs:boolean" use="optional"/>
            <xs:attribute name="label" type="xs:string" use="optional"/>
            <xs:attribute name="placeholder" type="xs:string" use="optional"/>
            <xs:attributeGroup ref="commonProps"/>
        </xs:complexType>
    </xs:element>

</xs:schema>